/* Global Setting */
:root { --black: #111; --text: #181a19; --muted: #3E3E3E; --green: #C2F578; --green2: #9be329; --bg: #fff; --soft: #ECEDEF; --border: #e4e7e3; --poppins: "Poppins", sans-serif; --inter: "Inter", sans-serif;}
* { box-sizing: border-box; margin: 0; padding: 0;}
html { scroll-behavior: smooth; }
body { margin: 0; color: #181a19; font-family: var(--inter); background: #F5F5F5; line-height: normal;}
body.auth-page { background: var(--bg);}
a { text-decoration: none; color: inherit; }
button, input { font: inherit; }
ul { list-style-type: none; padding: 0; margin: 0;}
img{ width: 100%; height: 100%;}

/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/poppins/poppins-v24-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/poppins/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/poppins/poppins-v24-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/poppins/poppins-v24-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/poppins/poppins-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/poppins/poppins-v24-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/inter/inter-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/inter/inter-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/inter/inter-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.container { width: min(1190px, 96%); margin: 0 auto; position: relative;}

.header { padding: 40px 0 27px;}
.headerinner { margin: auto; display: flex; align-items: center; justify-content: space-between;}
.header .leftsec{ display: flex; align-items: center; gap: 66px;}
.logo { width: 147px; height: auto; font-size: 0;}

.desktopnav { display: flex; gap: 30px; margin-left: auto; margin-right: 35px; }
.desktopnav a { font-size: 18px; font-weight: 400; font-family: var(--poppins); color: var(--muted);}
.desktopnav a:hover { color: var(--green2);}
.desktopnav a.active{ display: none;}
.mobileclose{ display: none;}

/* Header buttons */
.headeractions { display: flex; gap: 31px; }

/* Buttons */
.btn { border-radius: 8px; display: inline-flex; align-items: center; justify-content: center; gap: 12px; padding: 11px 26px; font-size: 18px; font-weight: 600; font-family: var(--inter); cursor: pointer; transition: .2s; }
.btnblack { background: #111; color: #fff; }
.btnblack:hover { background: #2d2d2d; }
.btnwhite { border-color: #111; background: #fff; }
.btngreen { background: var(--green); color: #111; }
.btngreen:hover { background: var(--green2); transform: translateY(-1px); }
.btnfull { width: 100%; }

/* Mobile menu */
.mobilemenu { display: none; margin-left: auto; border: 0; background: none; font-size: 21px; line-height: 100%;}

/* HERO */
main{ overflow: hidden;}
.herocontent{ padding: 134px 0 120px; width: 620px;}
.hero h1 { font-size: 68px; font-weight: 300; line-height: 100px; letter-spacing: -3%; margin: 0 0 26px; font-family: var(--poppins);}
.hero h1 span { font-weight: 700; font-family: var(--inter); position: relative; display: inline-block; line-height: 100%;}
.hero h1 span::before{ content: ""; position: absolute; bottom: -10px; left: 0; right: 0; background: url(../images/txt-border.png) no-repeat top center; height: 14px; background-size: contain;}
.herotext { font-size: 16px; line-height: 24px; font-weight: 400; font-family: var(--poppins); color: #96989A; margin: 0 0 51px;}

/* CSS ILLUSTRATION */
.herovisual { position: absolute; bottom: 0; right: -120px;}
.herovisual::before{ content: ""; position: absolute; top: -60px; left: calc(50% - 70px); transform: translateX(-50%); width: 500px; height: 500px; background: radial-gradient(circle,rgba(194, 245, 120, 1) 0%, rgba(255, 255, 255, 0) 70%); border-radius: 50%;}
.herovisual img{ position: relative;}
.herovisual .arrow1{ position: absolute; top: 81px; left: 0; background: url(../images/banner-arrow1.png) no-repeat center; background-size: contain; width: 52px; height: 52px;}
.herovisual .arrow2{ position: absolute; top: 62px; right: 136px; background: url(../images/banner-arrow2.png) no-repeat center; background-size: contain; width: 30px; height: 28px;}

/* TRUSTED SECTION */
.trusted { text-align: center; padding: 160px 0 70px;}
.trusted h2 { font-size: 28px; font-weight: 500; font-family: var(--poppins); color: #565656; margin: 0 0 42px; line-height: normal;}
.partnerrow { display: flex; justify-content: space-between; align-items: center; gap: 20px;}
.partnerrow li img{ filter: brightness(0) saturate(100%) invert(76%) sepia(7%) saturate(255%) hue-rotate(212deg) brightness(89%) contrast(91%);}
.partnerrow li img:hover{ filter: unset;}

/* FEATURES */
.cources{ padding: 75px 0 80px;}
.cources h2 { font-size: 28px; font-weight: 500; font-family: var(--poppins); color: #565656; margin: 0 0 88px; line-height: normal; text-align: center;}
.cources h2 span{ font-weight: 800; color: #111; font-family: var(--poppins);}
.cources ul { display: flex; gap: 15px; padding: 90px 0; justify-content: space-between;}
.cources ul li { background: var(--soft); padding: 23px; border-radius: 31px; width: 333px; padding: 62px 20px; box-shadow: 0 1px 4px 0 rgba(12, 12, 12, 0.05); box-sizing: border-box;}
.featureicon { width: 50px; height: auto; aspect-ratio: 1/1; background: var(--bg); border-radius: 50%; display: grid; place-items: center; margin: 0 auto; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}
.featureicon img{ width: 20px; height: auto;}
.cources ul li h3 { font-size: 20px; font-weight: 600; font-family: var(--inter); margin: 32px 0 21px; text-align: center; color: #373636;}
.cources ul li a { font-size: 12px; font-weight: 600; padding: 11px 22px; color: #373636; font-family: var(--inter); margin: 0 auto; display: block; width: fit-content; box-sizing: border-box;}

/* SOLUTION SECTION */
.solution{ padding: 160px 0 160px;}
.solution .container{ display: flex; gap: 109px; align-items: center; justify-content: space-between;}
.solutionimage { background: #ECEDEF; position: relative; overflow: hidden; border-radius: 9px; padding: 97px 29px 0 99px; box-sizing: border-box; position: relative;}
.solutionimage::before{ content: ""; position: absolute; bottom: 0; left: 115px; background: #F5F5F5; width: 352px; height: 270px; border-top-left-radius: 48px; border-top-right-radius: 48px;}
.solutionimage img{ width: 100%; height: auto; aspect-ratio: 1/1; z-index: 1; position: relative;}
.solution .solutioncopy{ width: 50%;}
.solution h2 { font-size: 37px; font-weight: 700; line-height: 65px;}
.solution ul{ margin-bottom: 39px;}
.solution ul li{ display: flex; gap: 17px; align-items: center; color: #555; font-size: 24px; font-weight: 500; line-height: normal; font-family: var(--poppins); margin: 0 0 10px; color: #545454;}
.solution ul li .iconbox{ width: 50px; height: 50px; padding: 15px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; border-radius: 50%;}
.solution ul li .iconbox img{ width: auto; height: auto; background-size: contain;}
.solution .btngreen{ display: flex; gap: 15px; font-size: 24px; font-weight: 600; font-family: var(--poppins); color: #3E3E3E; width: fit-content; padding: 16px 26px;}
.solution .btngreen img{ width: 25px; height: auto;}

/* FOOTER */
.footer .footerinner{ padding: 15px 0 50px;}
.footer .footerinner .container{ padding: 30px 0 42px; display: flex; gap: 35px; gap: 20px; justify-content: space-between;}
.footerinner p { display: block; font-size: 16px; font-weight: 500; font-family: var(--poppins); color: #96989A; margin-top: 15px;}
.footerinner p strong{ color: var(--text);}
.footerinner a { display: block; font-size: 16px; font-weight: 500; font-family: var(--poppins); color: #96989A; margin-top: 15px;}
.footerinner a:hover{ color: var(--black);}
.footerinner h3 { font-size: 18px; font-weight: 700; font-family: var(--poppins); margin: 0 0 10px; color: var(--black);}
.footerinner .formbox{ position: relative; width: min(350px, 100%); margin-top: 20px;}
.footerinner .formbox input{ width: 100%; border: 0; outline: 0; background: var(--bg); color: var(--black); border-radius: 10px; padding: 20px 140px 20px 20px; box-sizing: border-box; font-size: 16px; font-weight: 500; font-family: var(--poppins);}
.footerinner .formbox input::placeholder{ font-size: 16px; font-weight: 500; font-family: var(--poppins); color: #96989A;}
.footerinner .formbox button{ position: absolute; top: 50%; transform: translateY(-50%); right: 15px; font-size: 16px; font-weight: 600; font-family: var(--poppins); border: 0; outline: 0; padding: 10px 15px; margin: 0;}

.copyright .container{ padding: 20px 0; border-top: 1px solid #ddd; display: flex; justify-content: space-between; align-items: center;}
.copyright p{ display: block; font-size: 16px; font-weight: 500; font-family: var(--poppins); color: #96989A;}
.copyright ul{ display: flex; gap: 15px;}
.copyright ul li a{ display: block; width: 30px; height: 30px; background: var(--green); border-radius: 5px; position: relative;}
.copyright ul li a::before{ content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.copyright ul li a.insta::before{ width: 16px; height: 16px; background: url(../images/instagram.png) no-repeat top; background-size: contain;}
.copyright ul li a.twt::before{ width: 16px; height: 16px; background: url(../images/twitter.png) no-repeat top; background-size: contain;}
.copyright ul li a.linkedin::before{ width: 16px; height: 16px; background: url(../images/linkedin.png) no-repeat top; background-size: contain;}
.copyright ul li a:hover{ background: var(--green2);}

/* AUTH PAGE */
.auth-page { background: #f7f8f6; min-height: 100vh; }
.auth-main { min-height: calc(100vh - 114px); display: grid; place-items: center; padding: 25px 0;}
.auth-main .authcard { width: min(100%, 400px); min-height: 425px; background: #ECEDEF; padding: 46px 36px; box-sizing: border-box; margin: auto;}
.auth-main h1 { font-size: 24px; font-weight: 600; font-family: var(--poppins); margin: 0 0 37px; text-align: center;}
.auth-main input{ border: 2px solid #000; outline: 0; font-size: 18px; font-weight: 600; font-family: var(--poppins); color: #000000;}
.auth-page .desktopnav button+a{ display: none;}

/* Form fields */
.field { display: block; margin-bottom: 21px; }
.field span { display: block; font-size: 10px; font-weight: 750; margin-bottom: 5px; }
.field input { border: 2px solid #000; outline: 0; font-size: 18px; font-weight: 600; font-family: var(--poppins); color: #000000; padding: 8px 15px; border-radius: 8px; width: 100%; box-sizing: border-box;}
.field input::placeholder { font-size: 18px; font-weight: 600; font-family: var(--poppins); color: #000000;}
form button{ margin-top: 20px; font-size: 18px; font-weight: 600; font-family: var(--poppins); color: #000000; border: 0; outline: 0;}
.field p { display: block; color: #ca3e3e; font-size: 14px; font-weight: 600; font-family: var(--poppins); margin-top: 5px;}
p.authswitch { display: block; color: #000; font-size: 18px; font-weight: 600; font-family: var(--poppins); margin-top: 5px; text-align: center; margin-top: 49px;}
.signupcard  p.authswitch { margin-top: 66px;}
p.authswitch a:hover{ text-decoration: underline;}

/* Form options */
.formmessage { text-align: center; font-size: 14px; font-weight: 600; font-family: var(--poppins); margin: 5px 0 0; }
.success { color: #27782b;}
.errormessage { color: #ca3e3e;}
.authswitch { text-align: center; color: #858985; font-size: 9px; margin: 18px 0 0; }
.authswitch a { color: #111; font-weight: 750; }

/* COURSES PAGE */
.coursesbanner .container{ display: flex; justify-content: space-between; padding: 64px 53px; box-sizing: border-box; background: #ECEDEF; position: relative; min-height: 361px; overflow: hidden;}
.coursesbanner p { font-size: 20px; font-weight: 400; color: #000000; margin: 0 0 15px;}
.coursesbanner h1 { font-size: 40px; font-weight: 600; color: #000000; margin: 0 0 15px;}
.coursesbanner .courseimage{ position: absolute; bottom: 0; right: 0;}
.coursesbanner .courseimage::before{ content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 500px; height: 500px; background: radial-gradient(circle,rgba(194, 245, 120, 1) 0%, rgba(255, 255, 255, 0) 70%); border-radius: 50%;}
.coursesbanner .courseimage::after{ content: ""; position: absolute; bottom: -130px; left: 50%; transform: translateX(-50%); width: 260px; height: 260px; background: #F5F5F5; border-radius: 50%;}
.coursesbanner .courseimage img{ position: relative; z-index: 1;}

.coursesarea{ padding: 70px 0;}
.coursesarea h2{ margin-bottom: 20px; padding-right: 30px; position: relative; width: fit-content;}
.coursesarea h2::before{ content: ""; position: absolute; top: 50%; right: 0; transform: translateY(-50%); background: url(../images/rounded-arrow-icon.png) no-repeat top center; background-size: contain; width: 20px; height: 22px; filter: brightness(0) saturate(100%) invert(3%) sepia(50%) saturate(139%) hue-rotate(97deg) brightness(99%) contrast(86%);}
.count { font-size: 8px; background: #eef0ed; color: #777; padding: 4px 7px; border-radius: 20px; vertical-align: middle; }

/* Course grid */
.course-grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 16px; }
.coursecard { border: 1px solid var(--border); border-radius: 8px; overflow: hidden; background: #fff; transition: .2s; }
.coursecard:hover { transform: translateY(-3px); box-shadow: 0 12px 30px rgba(20,25,20,.07); }
.coursecard[hidden] { display: none; }

/* Course thumbnails */
.thumb { height: 120px; background: #fff; display: flex; justify-content: center; align-items: center; gap: 15px; font-size: 29px; font-weight: 800; font-family: var(--poppins);}
.thumb em { color: #8dd52c; font-style: normal; }

/* Course information */
.courseinfo { padding: 15px;}
.tag { font-size: 14px; font-weight: 400; font-family: var(--poppins); color: #5c773b; background: #eff6e9; padding: 5px 10px; text-align: center;}
.courseinfo h3 { font-size: 22px; font-weight: 600; font-family: var(--poppins); margin: 10px 0 15px; }
.courseinfo p { font-size: 16px; font-weight: 400; font-family: var(--poppins); color: var(--muted); margin: 0 0 15px;}
.courseinfo > div:last-child { display: flex; justify-content: space-between; font-size: 8px; color: #777; }
.courseinfo .rating p{ margin: 0; font-size: 14px;}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;

    min-width: 280px;
    max-width: 400px;

    padding: 16px 18px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    background: #fff;

    border-radius: 8px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

    z-index: 99999;

    animation: notificationSlideIn 0.3s ease;
}

.notification-success {
    border-left: 5px solid #28a745;
}

.notification-error {
    border-left: 5px solid #dc3545;
}

.notification-message {
    font-size: 15px;
    line-height: 1.4;
}

.notification-close {
    border: 0;
    background: transparent;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    padding: 0;}
.notification-hide { animation: notificationSlideOut 0.3s ease forwards;}

@keyframes notificationSlideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes notificationSlideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

/* Invalid email */
#email.invalid { border-color: #dc3545;}

/* responsive-starts */
@media only screen and (max-width: 1190px) {
  .container {width: 96%; margin: 0 auto;}
  .header{ padding: 20px 0 20px;}
  .header .leftsec{ gap: 50px;}
  .header .btn{ padding: 9px 24px; font-size: 16px;}
  .hero h1{ font-size: 60px; line-height: 90px;}
  .herocontent{ width: 55%; padding: 64px 0 50px;}
  .herovisual{ width: 50%;}

  .trusted{ padding: 100px 0 50px;}
  .partnerrow{ gap: 50px;}

  .cources{ padding: 45px 0 40px;}
  .cources h2{ margin: 0 0 30px;}
  .cources ul{ gap: 25px; padding: 0;}
  .solution{ padding: 50px 0 40px;}
  .solution .container{ gap: 4%;}
  .solution .solutionimage, .solution .solutioncopy{ width: 48%;}
  .solution .solutionimage{ padding: 0 30px;}
  .solutionimage::before{ left: 50%; transform: translateX(-50%);}
  .solution h2{ font-size: 32px;}
  .solution ul li, .solution .btngreen{ font-size: 20px;}
  .solution .btngreen img{ width: 22px;}

  .footer .footerinner{ padding: 0;}

  .coursesbanner .courseimage{ width: 270px;}
  .coursesbanner .courseimage::before{ width: 300px; height: 300px;}
  .coursesbanner .container{ min-height: unset;}
  .courseinfo h3{ font-size: 20px;}
  .courseinfo p{ font-size: 17px;}
}
@media only screen and (max-width: 980px) {
  .mobilemenu{ display: block;}
  .desktopnav{ display: none;}
  .header .leftsec{ gap: 20px;}
  .herocontent{ padding: 45px 0 40px; width: 55%;}
  .herovisual{ right: -60px;}
  .header.mobileopen .desktopnav { display: flex; flex-direction: column; position: fixed; top: 0; left: 0; width: 300px; height: 100%; background: #fff; gap: 15px; z-index: 999; gap: 0; margin: 0; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
  .header.mobileopen .desktopnav a{ padding: 20px; border-top: 1px solid #ddd;}
  .header.mobileopen .desktopnav a:hover{ background: var(--black); color: var(--bg);}
  .header.mobileopen .mobileclose { display: block; margin-left: auto; background: none; border: 0; font-size: 32px; cursor: pointer; padding: 10px; line-height: 100%;}

  .partnerrow{ width: min(700px, 100%); flex-flow: row wrap; justify-content: center; margin: 0 auto; gap: 35px 7%;}
  .partnerrow li{ width: 25%;}
  .cources ul li{ padding: 40px 20px;}

  .footerinner .leftsec{ width: 55%;}
  .footerinner .business{ width: 20%;}
  .footerinner .careers{ width: 10%;}
  .footerinner p{ line-height: 24px;}

  .coursesbanner .container{ padding: 50px 30px;}
  .coursesbanner .leftsec{ width: 60%;}
}
@media only screen and (max-width: 800px) {
  .hero h1{ font-size: 46px; line-height: 70px;}
  .herotext{ margin: 0 0 30px;}
  .herogrid{ display: flex; justify-content: space-between; align-items: center;}
  .herocontent{ width: 65%;}
  .herovisual{ position: relative; right: unset; width: 30%;}
  .herovisual img{ width: 100%; height: auto;}
  .herovisual::before{ top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; height: 300px;}

  .trusted { padding: 50px 0 50px;}
  .cources ul{ flex-flow: row wrap; gap: 30px 4%; justify-content: center;}
  .cources ul li{ width: 48%;}
  .solutionimage::before{ width: 60%; height: 120px; border-top-left-radius: 20px; border-top-right-radius: 20px;}

  .footerinner .leftsec{ width: 55%;}
  .footerinner .business{ width: 25%;}
  .footerinner .careers{ width: 12%;}

  .auth-main .authcard{ padding: 30px;}
  .field input{ border: 1px solid #000; font-weight: 500;}
  .field input::placeholder{ font-weight: 500;}
  .auth-main .authcard{ min-height: unset;}

  .coursesbanner p{ font-size: 18px;}
  .coursesbanner h1 { font-size: 32px;}
  .coursesbanner .courseimage{ width: 230px;}
  .coursesbanner .courseimage::before { width: 240px; height: 240px;}
  .coursesbanner .courseimage::after{ width: 220px; height: 220px;}

  .coursesarea { padding: 40px 0;}
  .course-grid{ grid-template-columns: repeat(2, 1fr);}
}
@media only screen and (max-width: 641px) {
  .herogrid{ flex-flow: column-reverse; padding: 30px 0;}
  .herocontent{ width: 100%; text-align: center; padding: 25px 0 0px;}
  .hero h1 { font-size: 46px; line-height: 60px;}
  .headeractions{ gap: 20px;}
  
  .cources h2, .trusted h2{ font-size: 24px;}
  .solution .container{ flex-flow: column wrap; gap: 20px;}
  .solution .solutioncopy{ width: fit-content;}
  .solution h2{ text-align: center;}
  .solution .btngreen{ font-size: 18px; padding: 14px 26px; margin: auto;}
  .solution .btngreen img { width: 19px;}
  .solution ul { margin-bottom: 30px;}

  .footer .footerinner .container{ flex-flow: column wrap; gap: 40px;}
  .footerinner .leftsec, .footerinner .business, .footerinner .careers{ width: 100%; text-align: center;}
  .footerinner h3{ margin: 0 0 15px;}
  .footerinner .logo{ margin: auto;}
  .footerinner .formbox{ margin: 20px auto 0;}
  .footerinner .business ul, .footerinner .careers ul{ display: flex; gap: 10px 20px; flex-flow: row wrap; justify-content: center; align-items: center;}
  .footerinner a{ margin: 0;}
  .copyright .container{ padding: 10px 0;}
  .copyright p{ font-size: 14px;}

  .coursesbanner .container{ flex-flow: column-reverse wrap; gap: 20px; align-items: center; padding: 20px;}
  .coursesbanner .leftsec{ width: 100%; text-align: center;}
  .coursesbanner .courseimage{ position: relative; bottom: unset; right: unset; overflow: hidden;}
  .courseinfo h3{ font-size: 18px;}
  .courseinfo p{ font-size: 16px;}
}
@media only screen and (max-width: 600px) {}
@media only screen and (max-width: 568px) {
  .course-grid { grid-template-columns: repeat(1, 1fr);}
}
@media only screen and (max-width: 480px) {
  .container {width: 90%; margin: 0 auto;}
  .logo{ width: 100px;}
  .header .btn { padding: 8px 18px; font-size: 15px;}
  .herovisual{ width: 60%;}
  .hero h1 { font-size: 38px; line-height: 50px;}
  .cources h2, .trusted h2 { font-size: 22px;}
  .partnerrow li { width: 32%;}
  .cources ul li{ width: 100%;}
  .solution h2 { font-size: 26px;}
  .solution .solutionimage{ width: 300px;}
  .solution ul li{ font-size: 18px;}
  .solution ul li .iconbox{ width: 40px; height: 40px; padding: 11px;}

  .field input{ font-size: 16px;}
  .field input::placeholder{ font-size: 16px;}
  form button{ margin-top: 10px;}
  .signupcard p.authswitch, p.authswitch{ margin-top: 30px;}
}
@media only screen and (max-width: 414px) {}
@media only screen and (max-width: 384px) {
  .header .leftsec{ gap: 10px;}
  .headeractions { gap: 10px;}
  .header .btn{ font-size: 14px;}
  .copyright .container{ flex-flow: column-reverse wrap; gap: 15px;}
  .coursesbanner h1 { font-size: 28px;}
  .coursesbanner p { font-size: 16px;}
}
@media only screen and (max-width: 376px) {}
@media only screen and (max-width: 360px) {}
@media only screen and (max-width: 320px) {}